  body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background-image: url(img/wallpaper.jpg);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center center;
  }

  #root {
    margin-top: 65px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #3e3d3b;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    max-width: 450px;
    padding-bottom: 30px;
  }

  .monthDate {
    font-size: 36px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .picture {
    background-image: url(img/logo.png);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
  	background-repeat: no-repeat;
    min-width: 450px;
    min-height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-end;
  }

  .new-task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
  }

  #add {
    background-image: url(img/add.png);
  }

  .not-ready-yet{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    margin-left: -15px;
    margin-top: 10px;
    list-style-type: none;
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
  }

  input {
    color: #c2c4cc;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: #676563;
    border: 0;
    border-radius: 16px;
    order: 0;
    flex: 0.5 1 auto;
    align-self: auto;
    padding-left: 10px;
    min-width: 270px;
    max-width: 270px;
    min-height: 38px;
  }

  label {
    padding-top: 5px;
    font-size: 20px;
    background-color: #676563;
    border-radius: 16px;
    min-width: 280px;
    max-width: 280px;
    min-height: 35px;
    order: 0;
    flex: 0.5 1 auto;
    align-self: auto;
    word-wrap: break-word;
  }

  button {
    height: 34px;
    width: 34px;
    margin: 3px;
    background-color: #3e3d3b;
    border: 1px solid #3e3d3b;
  }

  .not-ready-yet .checkbox{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background-image: url(img/success.png);
  }

  .ready-yet .checkbox{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background-image: url(img/error.png);
  }



  .edit {
    background-image: url(img/edit.png);
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  .save {
    background-image: url(img/save.png);
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  .delete {
    background-image: url(img/garbage.png);
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  #unfiniched-task {
    overflow:auto;
  }

  #finiched-task {
    overflow:auto;

  }
